
.note-list{
    display:flex;
    flex-direction:column;
    gap:10px;
    margin:20px;
}

.empty{
    display:flex;
    justify-content:center;
    align-items:center;
    font-weight:2000;
    color:#888;
    font-size:14px;
    margin-top:20px;
}